/* Empty. Add your own CSS if you like */

.menu-left ion-content,.menu-left .item-complex .item-content{
color:white;
background-color: #387EF5;
font-weight: bold;
}

.menu-right ion-content,.menu-right .item-complex .item-content{
color:white;
background-color: #387EF5;
font-weight: bold;
}

.content-with-full-height{
  height: 100%;
}

.equal-sized-item{
  line-height: 7%;
}
  .pane {
   background: url(../img/200px.png) no-repeat center center fixed, url(../img/back150.jpg) no-repeat center center fixed; 
		  -webkit-background-size: auto, cover;
		  -moz-background-size: auto, cover;
		  -o-background-size: auto, cover;
		  background-size: auto, cover;
		  background-position: center, center; 
  }
@media (min-width:800px){
  .pane {
    background: url(../img/icon300.png) no-repeat center center fixed, url(../img/back150.jpg) no-repeat center center fixed; 
		  -webkit-background-size: auto, cover;
		  -moz-background-size: auto, cover;
		  -o-background-size: auto, cover;
		  background-size: auto, cover;
		  background-position: center, center; 
  }
}